<html>
    <head> 
      <meta charset="utf-8">
      <link rel="shortcut icon" href="public/images/mbr-1-90x90.png" type="image/x-icon">
      <title>chatMail</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active">OTP Session </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="https://img.icons8.com/nolan/64/user-male-circle.png" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <% if (message!=null) {%>
            <h2 style="color: red;"> <%= message %> </h2>
          <%} else { %>  
          <form action="/fromOtp" method="POST">
            <h2 style="color: red;"> Check your damm phone. </h2>
			<input type="text" id="login" class="fadeIn second" name="otp2" placeholder="Enter OTP">           
            <input type="submit" class="fadeIn fourth" value="Submit">
          </form>
          <%}%>
          <!-- Remind Passowrd -->
          <!--div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div-->
        </div>
      </div> 
    </body>
</html>